<!-- <table>
  <%- @header.select { |name, value| name.starts_with?('HTTP_EVE')}.each do |name, value| %>
    <tr>
      <td>
        <%= name %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <%- end %>
</table> -->

<%= button_to 'create fleet', fleet_index_path, method: :post %>
