<div class="box">
  <div class="text_center">
    <table style="width:100%">
        <tr>
          <td> character_name: </td>
          <td> <%= @user.character_name %> </td>
        </tr>
        <tr>
          <td> character_id: </td>
          <td> <%= @user.character_id %> </td>
        </tr>
    </table>
  </div>
</div>
