<div class="box">
  <div class="box-header">Character</div>
  <div class="text_center">
    <table style="width:100%">
        <tr>
          <td><%= char_image_tag(@user.character_id) %></td>
          <td>Platzhalter Corp Bild</td>
          <td>Platzhalter Allianz Bild</td>
        </tr>
        <tr>
          <td><%= @user.character_name %></td>
          <td>Platzhalter Corp Name</td>
          <td>Platzhalter Allianz Name</td>
        </tr>
    </table>
  </div>
</div>

<div class="box">
  <div class="box-header">Fleets</div>
  <div>
    <%= link_to "create new fleet", new_fleet_path %>
  </div>

  Hier die Liste der gespeicherten Fleets
</div>
