/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { background-color: #1F1F1F; }

.table {
  table-layout: fixed;
  text-align: left;
  font-size: 0.9em;
  color: #DFDFDF;
}

.box-table {
  background-color: #343434;
  border-style: solid;
  border-color: #262626;
  border-width: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5px;
}

.box {
  background-color: #343434;
  border-style: solid;
  border-color: #262626;
  border-width: 5px;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5px;
}

.box-header {
  background-color: #262626;
  color: #FF6600;
  text-align: center;
  font-size: 1em;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.link {
  text-align: center;
}

a:link, a:visited {
  color: #FF6600;
}

a:hover, a:active {
  color: #CF5300;
}

.header {
  text-align: center;
  position: relative;
  font-size: 0.8em;
  color: #FF6600;
}

.text-left {
  text-align: left;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 0.9em;
  color: #DFDFDF;
}

.text-center {
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 0.9em;
  color: #DFDFDF;
}

.warning {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #ff0000;
  font-size: 1.3em;
}

.input-box {
  width: 57%;
}
