/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body { background-color: #1F1F1F; }

 .header {
   text-align: center;
   position: relative;
   font-size: 1em;
   color: #FF6600;
 }

 .

 .submit_fleet {
   background-color: #343434;
   border-style: solid;
   border-color: #262626;
   border-width: 5px;
   margin-left: 35%;
   margin-right: 35%;
 }

 .show_fleet_created {
   background-color: #343434;
   border-style: solid;
   border-color: #262626;
   border-width: 5px;
   margin-left: 28.5%;
   margin-right: 28.5%;
   padding: 15px;
 }

 .submit_result {
   background-color: #343434;
   border-style: solid;
   border-color: #262626;
   border-width: 5px;
   margin-left: 35%;
   margin-right: 35%;
   padding: 15px;
 }

 .submit_button {
   text-align: center;
   margin-top: 1%;
 }

 .text_left {
   text-align: left;
   margin-left: 6px;
   margin-right: 6px;
   color: #DFDFDF;
   font-size: 1em;
 }

 .text_center {
   text-align: center;
   margin-left: 6px;
   margin-right: 6px;
   color: #DFDFDF;
   font-size: 1em;
 }

 .fleet_name {
   text-align: center;
   margin-top: 6px;
   margin-bottom: 6px;
   color: #DFDFDF;
   font-size: 1.2em;
 }

 .location {
   text-align: center;
   margin-top: 6px;
   margin-bottom: 6px;
   color: #DFDFDF;
   font-size: 1.2em;
 }

 .url_box {
   width: 100%;
 }
